.visited {
  filter: grayscale(1);
}
mat-card {
  display: flex;
  float: left;
  width: 258px;
  height: auto;
  padding: 8px;
  margin: 8px;
}
img {
  max-width: 250px;
  max-height: auto;
}

.button-holder {
  height: 24px;
  display: flex;
  float: left;
}
