<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Eevee Cards">
    <img *ngFor="let eeveeImage of eeveeImages" [src]="eeveeImage" />
  </mat-tab>
  <mat-tab label="Sylveon Cards">
    <img *ngFor="let sylveonImage of sylveonImages" [src]="sylveonImage" />
  </mat-tab>
  <mat-tab label="Espeon Cards">
    <img *ngFor="let espeonImage of espeonImages" [src]="espeonImage" />
  </mat-tab>
  <mat-tab label="Umbreon Cards">
    <img *ngFor="let umbreonImage of umbreonImages" [src]="umbreonImage" />
  </mat-tab>
</mat-tab-group>
