<mat-tab-group class="tab-header" mat-align-tabs="start">
  <mat-tab label="Eevee Cards">
    <app-eevee-card
      *ngFor="let eeveeImage of eeveeImages; let i = index"
      [eeveeImage]="eeveeImage"
      [i]="i"
    ></app-eevee-card>
  </mat-tab>

  <mat-tab label="Sylveon Cards">
    <app-sylveon-card
      *ngFor="let sylveonImage of sylveonImages; let i = index"
      [sylveonImage]="sylveonImage"
      [i]="i"
    >
      <img [src]="sylveonImage" />
    </app-sylveon-card>
  </mat-tab>

  <mat-tab label="Espeon Cards">
    <app-espeon-card
      *ngFor="let espeonImage of espeonImages; let i = index"
      [espeonImage]="espeonImage"
      [i]="i"
    >
      <img [src]="espeonImage" />
    </app-espeon-card>
  </mat-tab>

  <mat-tab label="Umbreon Cards">
    <app-umbreon-card
      *ngFor="let umbreonImage of umbreonImages; let i = index"
      [umbreonImage]="umbreonImage"
      [i]="i"
    >
      <img [src]="umbreonImage" />
    </app-umbreon-card>
  </mat-tab>

  <mat-tab label="Leafeon Cards">
    <app-leafeon-card
      *ngFor="let leafeonImage of leafeonImages; let i = index"
      [leafeonImage]="leafeonImage"
      [i]="i"
    >
      <img [src]="leafeonImage" />
    </app-leafeon-card>
  </mat-tab>

  <mat-tab label="Glaceon Cards">
    <app-glaceon-card
      *ngFor="let glaceonImage of glaceonImages; let i = index"
      [glaceonImage]="glaceonImage"
      [i]="i"
    >
      <img [src]="glaceonImage" />
    </app-glaceon-card>
  </mat-tab>

  <mat-tab label="Vaporeon Cards">
    <app-vaporeon-card
      *ngFor="let vaporeonImage of vaporeonImages; let i = index"
      [vaporeonImage]="vaporeonImage"
      [i]="i"
    >
      <img [src]="vaporeonImage" />
    </app-vaporeon-card>
  </mat-tab>

  <mat-tab label="Flareon Cards">
    <app-flareon-card
      *ngFor="let flareonImage of flareonImages; let i = index"
      [flareonImage]="flareonImage"
      [i]="i"
    >
      <img [src]="flareonImage" />
    </app-flareon-card>
  </mat-tab>

  <mat-tab label="Jolteon Cards">
    <app-jolteon-card
      *ngFor="let jolteonImage of jolteonImages; let i = index"
      [jolteonImage]="jolteonImage"
      [i]="i"
    >
      <img [src]="jolteonImage" />
    </app-jolteon-card>
  </mat-tab>
</mat-tab-group>
